# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/

# Eclipse project files
.cproject
.project

# Make and Ninja files
Makefile
.ninja*
build.ninja
rules.ninja

# Cmake files generated during in-source builds
CMakeCache.txt
CMakeFiles
Testing
cmake_install.cmake
CTestTestfile.cmake

# Output files in the tests/ directory
tests/*.result

# Files built by doxygen
doc/SampleFlow.dox
doc/SampleFlow.tag
doc/doxygen
